<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{1568,0},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{1630,0},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{1692,0},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{1754,0},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.50}</string>
			<key>spriteSize</key>
			<string>{80,90}</string>
			<key>spriteSourceSize</key>
			<string>{80,90}</string>
			<key>textureRect</key>
			<string>{{813,0},{80,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.50}</string>
			<key>spriteSize</key>
			<string>{80,90}</string>
			<key>spriteSourceSize</key>
			<string>{80,90}</string>
			<key>textureRect</key>
			<string>{{895,0},{80,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{97,109}</string>
			<key>spriteSourceSize</key>
			<string>{97,109}</string>
			<key>textureRect</key>
			<string>{{0,0},{97,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{97,108}</string>
			<key>spriteSourceSize</key>
			<string>{97,108}</string>
			<key>textureRect</key>
			<string>{{99,0},{97,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{1816,0},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{1878,0},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{86,84}</string>
			<key>spriteSourceSize</key>
			<string>{86,84}</string>
			<key>textureRect</key>
			<string>{{1940,0},{86,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{86,84}</string>
			<key>spriteSourceSize</key>
			<string>{86,84}</string>
			<key>textureRect</key>
			<string>{{2028,0},{86,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{60,83}</string>
			<key>spriteSourceSize</key>
			<string>{60,83}</string>
			<key>textureRect</key>
			<string>{{2272,0},{60,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{60,83}</string>
			<key>spriteSourceSize</key>
			<string>{60,83}</string>
			<key>textureRect</key>
			<string>{{2334,0},{60,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{85,83}</string>
			<key>spriteSourceSize</key>
			<string>{85,83}</string>
			<key>textureRect</key>
			<string>{{2396,0},{85,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{85,83}</string>
			<key>spriteSourceSize</key>
			<string>{85,83}</string>
			<key>textureRect</key>
			<string>{{2483,0},{85,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{76,84}</string>
			<key>spriteSourceSize</key>
			<string>{76,84}</string>
			<key>textureRect</key>
			<string>{{2116,0},{76,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{76,84}</string>
			<key>spriteSourceSize</key>
			<string>{76,84}</string>
			<key>textureRect</key>
			<string>{{2194,0},{76,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,1}</string>
			<key>spriteSize</key>
			<string>{71,87}</string>
			<key>spriteSourceSize</key>
			<string>{71,87}</string>
			<key>textureRect</key>
			<string>{{1127,0},{71,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{72,88}</string>
			<key>spriteSourceSize</key>
			<string>{72,88}</string>
			<key>textureRect</key>
			<string>{{977,0},{72,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-8.50}</string>
			<key>spriteSize</key>
			<string>{71,106}</string>
			<key>spriteSourceSize</key>
			<string>{71,106}</string>
			<key>textureRect</key>
			<string>{{272,0},{71,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{72,107}</string>
			<key>spriteSourceSize</key>
			<string>{72,107}</string>
			<key>textureRect</key>
			<string>{{198,0},{72,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1276,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1349,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{71,104}</string>
			<key>spriteSourceSize</key>
			<string>{71,104}</string>
			<key>textureRect</key>
			<string>{{501,0},{71,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-10}</string>
			<key>spriteSize</key>
			<string>{71,104}</string>
			<key>spriteSourceSize</key>
			<string>{71,104}</string>
			<key>textureRect</key>
			<string>{{574,0},{71,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1422,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1495,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9.50}</string>
			<key>spriteSize</key>
			<string>{81,103}</string>
			<key>spriteSourceSize</key>
			<string>{81,103}</string>
			<key>textureRect</key>
			<string>{{647,0},{81,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9.50}</string>
			<key>spriteSize</key>
			<string>{81,103}</string>
			<key>spriteSourceSize</key>
			<string>{81,103}</string>
			<key>textureRect</key>
			<string>{{730,0},{81,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{74,88}</string>
			<key>spriteSourceSize</key>
			<string>{74,88}</string>
			<key>textureRect</key>
			<string>{{1051,0},{74,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{74,87}</string>
			<key>spriteSourceSize</key>
			<string>{74,87}</string>
			<key>textureRect</key>
			<string>{{1200,0},{74,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_3_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{76,106}</string>
			<key>spriteSourceSize</key>
			<string>{76,106}</string>
			<key>textureRect</key>
			<string>{{345,0},{76,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_4_god.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{76,106}</string>
			<key>spriteSourceSize</key>
			<string>{76,106}</string>
			<key>textureRect</key>
			<string>{{423,0},{76,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-hd.png</string>
		<key>size</key>
		<string>{2568,109}</string>
		<key>textureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-hd.png</string>
	</dict>
</dict>
</plist>