<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hiimjustin000.demons_in_between/DIB_01_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{845,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_02_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{918,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_03_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{991,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_04_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,84}</string>
			<key>spriteSourceSize</key>
			<string>{71,84}</string>
			<key>textureRect</key>
			<string>{{1356,0},{71,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_05_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1064,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_06_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1137,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_07_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,84}</string>
			<key>spriteSourceSize</key>
			<string>{71,84}</string>
			<key>textureRect</key>
			<string>{{1429,0},{71,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_08_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1210,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_09_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{71,85}</string>
			<key>spriteSourceSize</key>
			<string>{71,85}</string>
			<key>textureRect</key>
			<string>{{1283,0},{71,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_10_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{71,86}</string>
			<key>spriteSourceSize</key>
			<string>{71,86}</string>
			<key>textureRect</key>
			<string>{{772,0},{71,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_11_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,88}</string>
			<key>spriteSourceSize</key>
			<string>{71,88}</string>
			<key>textureRect</key>
			<string>{{246,0},{71,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_12_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{71,88}</string>
			<key>spriteSourceSize</key>
			<string>{71,88}</string>
			<key>textureRect</key>
			<string>{{319,0},{71,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_13_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{71,88}</string>
			<key>spriteSourceSize</key>
			<string>{71,88}</string>
			<key>textureRect</key>
			<string>{{392,0},{71,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_14_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73,88}</string>
			<key>spriteSourceSize</key>
			<string>{73,88}</string>
			<key>textureRect</key>
			<string>{{465,0},{73,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_15_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,88}</string>
			<key>spriteSourceSize</key>
			<string>{74,88}</string>
			<key>textureRect</key>
			<string>{{540,0},{74,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_16_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{74,87}</string>
			<key>spriteSourceSize</key>
			<string>{74,87}</string>
			<key>textureRect</key>
			<string>{{616,0},{74,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_17_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{78,87}</string>
			<key>spriteSourceSize</key>
			<string>{78,87}</string>
			<key>textureRect</key>
			<string>{{692,0},{78,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_18_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{80,89}</string>
			<key>spriteSourceSize</key>
			<string>{80,89}</string>
			<key>textureRect</key>
			<string>{{82,0},{80,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_19_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{80,89}</string>
			<key>spriteSourceSize</key>
			<string>{80,89}</string>
			<key>textureRect</key>
			<string>{{164,0},{80,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_20_5_btn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,90}</string>
			<key>spriteSourceSize</key>
			<string>{80,90}</string>
			<key>textureRect</key>
			<string>{{0,0},{80,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_MythicShortSheet-hd.png</string>
		<key>size</key>
		<string>{1500,90}</string>
		<key>textureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_MythicShortSheet-hd.png</string>
	</dict>
</dict>
</plist>