<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hiimjustin000.demons_in_between/DIB_01_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,103}</string>
			<key>spriteSourceSize</key>
			<string>{71,103}</string>
			<key>textureRect</key>
			<string>{{894,0},{71,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_02_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,103}</string>
			<key>spriteSourceSize</key>
			<string>{105,103}</string>
			<key>textureRect</key>
			<string>{{967,0},{105,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_03_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,103}</string>
			<key>spriteSourceSize</key>
			<string>{75,103}</string>
			<key>textureRect</key>
			<string>{{1074,0},{75,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_04_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,103}</string>
			<key>spriteSourceSize</key>
			<string>{71,103}</string>
			<key>textureRect</key>
			<string>{{1151,0},{71,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_05_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,103}</string>
			<key>spriteSourceSize</key>
			<string>{82,103}</string>
			<key>textureRect</key>
			<string>{{1224,0},{82,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_06_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{71,103}</string>
			<key>spriteSourceSize</key>
			<string>{71,103}</string>
			<key>textureRect</key>
			<string>{{1308,0},{71,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_07_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,103}</string>
			<key>spriteSourceSize</key>
			<string>{81,103}</string>
			<key>textureRect</key>
			<string>{{1381,0},{81,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_08_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{86,103}</string>
			<key>spriteSourceSize</key>
			<string>{86,103}</string>
			<key>textureRect</key>
			<string>{{1464,0},{86,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_09_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.50}</string>
			<key>spriteSize</key>
			<string>{108,103}</string>
			<key>spriteSourceSize</key>
			<string>{108,103}</string>
			<key>textureRect</key>
			<string>{{1552,0},{108,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_10_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{77,104}</string>
			<key>spriteSourceSize</key>
			<string>{77,104}</string>
			<key>textureRect</key>
			<string>{{815,0},{77,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_11_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,106}</string>
			<key>spriteSourceSize</key>
			<string>{71,106}</string>
			<key>textureRect</key>
			<string>{{273,0},{71,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_12_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,106}</string>
			<key>spriteSourceSize</key>
			<string>{85,106}</string>
			<key>textureRect</key>
			<string>{{346,0},{85,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_13_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{71,106}</string>
			<key>spriteSourceSize</key>
			<string>{71,106}</string>
			<key>textureRect</key>
			<string>{{433,0},{71,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_14_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{73,106}</string>
			<key>spriteSourceSize</key>
			<string>{73,106}</string>
			<key>textureRect</key>
			<string>{{506,0},{73,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_15_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,106}</string>
			<key>spriteSourceSize</key>
			<string>{76,106}</string>
			<key>textureRect</key>
			<string>{{581,0},{76,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_16_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{74,106}</string>
			<key>spriteSourceSize</key>
			<string>{74,106}</string>
			<key>textureRect</key>
			<string>{{659,0},{74,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_17_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{78,106}</string>
			<key>spriteSourceSize</key>
			<string>{78,106}</string>
			<key>textureRect</key>
			<string>{{735,0},{78,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_18_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{90,108}</string>
			<key>spriteSourceSize</key>
			<string>{90,108}</string>
			<key>textureRect</key>
			<string>{{99,0},{90,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_19_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{80,108}</string>
			<key>spriteSourceSize</key>
			<string>{80,108}</string>
			<key>textureRect</key>
			<string>{{191,0},{80,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_20_4_btn2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,109}</string>
			<key>spriteSourceSize</key>
			<string>{97,109}</string>
			<key>textureRect</key>
			<string>{{0,0},{97,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_LegendaryLongSheet-hd.png</string>
		<key>size</key>
		<string>{1660,109}</string>
		<key>textureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_LegendaryLongSheet-hd.png</string>
	</dict>
</dict>
</plist>