<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hiimjustin000.demons_in_between/DIB_01_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,122}</string>
			<key>spriteSourceSize</key>
			<string>{132,122}</string>
			<key>textureRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{122,122}</string>
			<key>spriteSourceSize</key>
			<string>{132,122}</string>
			<key>textureRect</key>
			<string>{{124,0},{122,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_03_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,122}</string>
			<key>spriteSourceSize</key>
			<string>{132,122}</string>
			<key>textureRect</key>
			<string>{{248,0},{128,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_04_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{132,122}</string>
			<key>spriteSourceSize</key>
			<string>{132,122}</string>
			<key>textureRect</key>
			<string>{{378,0},{132,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_05_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{134,122}</string>
			<key>spriteSourceSize</key>
			<string>{138,122}</string>
			<key>textureRect</key>
			<string>{{0,124},{134,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_06_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{134,122}</string>
			<key>spriteSourceSize</key>
			<string>{138,122}</string>
			<key>textureRect</key>
			<string>{{136,124},{134,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_07_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{138,122}</string>
			<key>spriteSourceSize</key>
			<string>{138,122}</string>
			<key>textureRect</key>
			<string>{{272,124},{138,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_08_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{134,122}</string>
			<key>spriteSourceSize</key>
			<string>{140,128}</string>
			<key>textureRect</key>
			<string>{{412,124},{134,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_09_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{134,122}</string>
			<key>spriteSourceSize</key>
			<string>{140,128}</string>
			<key>textureRect</key>
			<string>{{0,248},{134,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_10_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{136,125}</string>
			<key>spriteSourceSize</key>
			<string>{140,128}</string>
			<key>textureRect</key>
			<string>{{136,248},{136,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,128}</string>
			<key>spriteSourceSize</key>
			<string>{140,128}</string>
			<key>textureRect</key>
			<string>{{274,248},{140,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_12_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,128}</string>
			<key>spriteSourceSize</key>
			<string>{148,128}</string>
			<key>textureRect</key>
			<string>{{416,248},{140,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_13_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,128}</string>
			<key>spriteSourceSize</key>
			<string>{148,128}</string>
			<key>textureRect</key>
			<string>{{0,375},{142,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_14_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{146,128}</string>
			<key>spriteSourceSize</key>
			<string>{148,128}</string>
			<key>textureRect</key>
			<string>{{144,378},{146,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_15_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{148,128}</string>
			<key>spriteSourceSize</key>
			<string>{148,128}</string>
			<key>textureRect</key>
			<string>{{292,378},{148,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_16_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{148,128}</string>
			<key>spriteSourceSize</key>
			<string>{160,133}</string>
			<key>textureRect</key>
			<string>{{442,378},{148,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_17_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{156,128}</string>
			<key>spriteSourceSize</key>
			<string>{160,133}</string>
			<key>textureRect</key>
			<string>{{0,508},{156,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_18_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,131}</string>
			<key>spriteSourceSize</key>
			<string>{160,133}</string>
			<key>textureRect</key>
			<string>{{158,508},{160,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_19_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,131}</string>
			<key>spriteSourceSize</key>
			<string>{160,133}</string>
			<key>textureRect</key>
			<string>{{320,508},{160,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hiimjustin000.demons_in_between/DIB_20_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,133}</string>
			<key>spriteSourceSize</key>
			<string>{160,133}</string>
			<key>textureRect</key>
			<string>{{0,641},{160,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_IconSheet-uhd.png</string>
		<key>size</key>
		<string>{590,774}</string>
		<key>textureFileName</key>
		<string>hiimjustin000.demons_in_between/DIB_IconSheet-uhd.png</string>
	</dict>
</dict>
</plist>